<section class="content-header">
    <h1>
        General Form Elements
        <small>Preview</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">bootstrap</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    {{#form-for model wrapper="bootstrap"}}
                        {{input title label="标题"}}
                        {{input content1 label="内容"}}
                        {{input password placeholder="请输入密码"}}
                        {{input lastName}}
                        {{checkbox something modelBinding=model propertyPath="something" elementsBinding="fruits" labelPath="name"}}
                        {{radio something modelBinding=model propertyPath="something" elementsBinding="fruits" labelPath="name"}}
                        {{input createDate}}
                        {{#input title}}
                            {{label-field propertyBinding="view.property" textBinding="view.fieldLabel"}}
                            {{bu-editor value=title valueType="contentTxt"}}
                            {{#if view.showError}}
                                {{error-field propertyBinding="view.property"}}
                            {{/if}}
                            {{#if view.hint}}
                                {{hint-field propertyBinding="view.property" textBinding="view.hint"}}
                            {{/if}}
                        {{/input}}

                        {{input bio as="text"}}
                        {{input author
                        as='select'
                        data-placeholder="请选择作者"
                        collection="category"
                        optionLabelPath="content.value"
                        }}
                        {{input tags as='select'
                        data-placeholder="请选标签"
                        multiple=true
                        collection="category"
                        optionLabelPath="content.value"
                        }}
                    {{/form-for}}
                </div>
            </div>
            <!-- /.box -->
        </div>

        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Bootstrap-horizontal</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    {{#form-for model wrapper="bootstrap-horizontal"}}
                        {{input title label="标题"}}
                        {{input content1 label="内容"}}
                        {{input password placeholder="请输入密码"}}
                        {{input lastName}}
                        {{checkbox something modelBinding=model propertyPath="something" elementsBinding="fruits" labelPath="name"}}
                        {{radio something modelBinding=model propertyPath="something" elementsBinding="fruits" labelPath="name"}}
                        {{input createDate}}
                        {{!--#input title}}
                            {{label-field propertyBinding="view.property" textBinding="view.fieldLabel"}}
                            {{bu-editor value=title valueType="contentTxt"}}
                            {{#if view.showError}}
                                {{error-field propertyBinding="view.property"}}
                            {{/if}}
                            {{#if view.hint}}
                                {{hint-field propertyBinding="view.property" textBinding="view.hint"}}
                            {{/if}}
                        {{/input--}}

                        {{input bio as="text"}}
                        {{input author
                        as='select'
                        data-placeholder="请选择作者"
                        collection="category"
                        optionLabelPath="content.value"
                        }}
                        {{input tags as='select'
                        data-placeholder="请选标签"
                        multiple=true
                        collection="category"
                        optionLabelPath="content.value"
                        }}
                    {{/form-for}}
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
</section>